@import "theme";

.form-container {
  padding: spacing(5) spacing(10);

  .form-group {
    margin-bottom: spacing(2);
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: spacing(1);
    }

    input.title {
      font-size: 1.5rem;
      color: $black;
    }
  }

  .form-actions {
      display: flex;
      flex-direction: row-reverse;
  }

  
}

:host ::ng-deep {
  .ql-image {
    display: none !important;
  }
}