@import "theme";

.header {
  height: 80px;
  width: 100%;
  background-color: $gray-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 spacing(10);

  .logo {
    font-size: 32px;
    font-weight: bold;
    line-height: 80px;
    -webkit-user-select: none;
    cursor: pointer;
  }

  .nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;
      }
    }
  }
}
